# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
frontend/logs/
backend/logs/

# Build
dist/
build/
frontend/dist/
backend/dist/

# Environment variables
.env
frontend/.env
backend/.env

# Temporary files
tmp/
*.tmp

# IDE specific
.vscode/
.idea/
*.swp
.DS_Store
